* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 11px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div#auth-popper div {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    padding: 10px;
    flex-direction: column;
}

div#auth-popper div a {
    color: black;
}

div#auth-popper div a:hover {
    color: #2196f3;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}

.pagination {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 50px;
}

.pagination li {
    background-color: #fff;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
    width: fit-content;
    transition: .3s ease-in-out;
}

.pagination a {
    padding: 5px 10px;
    outline: none;
}